body{
    background-color: rgb(246, 222, 187);

}

.divAll{
    font-family: "Ubuntu", sans-serif;
    background-color: rgb(244, 207, 150);
    border: 2px solid black;
    overflow: auto; width: 700px;
    margin: 100px;
    padding: 40px;
}
h1{
    margin-top: -10px;
    color: rgb(153, 116, 6);
}
.divHead{
    text-align: center;
}
.divHead > h1{
    font-size: 30px;
    font-family: "Bungee", sans-serif;
}
.divHead > p{
    font-size: 11px;
}
.divHead > hr{
    width: 90%;
    border-color: black;
}
.divHead > p{
    margin-top: -10px;
    font-style: italic;
}
.divStatement > span{
    font-style: italic;
    position: relative; top: -10px;
}
.p1{
    position: relative; top: -10px;
}